{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            <li>
                <a title="{{ brand.name }}"
                   class="link-primary socialaccount_provider {{ provider.id }} {{ brand.id }}"
                   hx-get="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                   hx-target="#modal-1-body-div">{{ brand.name }}</a>
            </li>
        {% endfor %}
    {% endif %}
    <li>
        <a title="{{ provider.name }}"
           class="link-primary socialaccount_provider {{ provider.id }}"
           hx-get="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
           hx-target="#modal-1-body-div">{{ provider.name }}</a>
    </li>
{% endfor %}
