{% extends "base_generic.html" %}
{% load static cache board_extras %}
{% block head %}
    {% if board.preferences.enable_latex %}
        <link rel="preload"
              href="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/output/chtml/fonts/woff-v2/MathJax_Zero.woff"
              as="font"
              crossorigin="anonymous"/>
        <link rel="preload"
              href="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff"
              as="font"
              crossorigin="anonymous"/>
        <link rel="preload"
              href="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/output/chtml/fonts/woff-v2/MathJax_Math-Italic.woff"
              as="font"
              crossorigin="anonymous"/>
    {% endif %}
    <link href="{% static 'css/3rdparty/easymde-2.17.0.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'boards/css/board.css' %}" rel="stylesheet"/>
    <script defer src="{% static 'js/3rdparty/marked-4.0.19.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'js/3rdparty/purify-2.3.11.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'js/3rdparty/easymde-2.17.0.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'boards/js/3rdparty/robust-websocket.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'boards/js/board.js' %}" nonce="{{ CSP_NONCE }}"></script>
{% endblock head %}
{% block title %}
    Board: {{ board }}
{% endblock title %}
{% block navbar_title %}
    <div class="me-2">{{ board }}</div>
{% endblock navbar_title %}
{% block navbar_subtitle %}
    <div class="d-flex flex-wrap">
        <div class="me-2">{{ board.description }}</div>
        {% if request.user == board.owner or user.is_staff %}
            <div class="d-flex align-items-center">
                <small class="d-flex align-items-center">
                    <span class="badge bg-secondary align-middle">
                        {% get_split_string board.slug as board_split_slug %}
                        ID: {{ board_split_slug }} -
                        <span id="board-online-sessions">0</span>
                    </span>
                </small>
            </div>
        {% endif %}
    </div>
{% endblock navbar_subtitle %}
{% block navbar-items %}
    {% if is_moderator %}
        {% cache 86400 navbar-board-index board.pk request.user %}
        <li class="nav-item">
            <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                <a class="nav-link"
                   role="button"
                   hx-get="{% url 'boards:board-qr' board.slug %}"
                   hx-target="#modal-1-body-div"
                   data-bs-toggle="modal"
                   data-bs-target="#modal-1-div">
                    <i class="bi bi-qr-code"></i>
                    <span>QR Code</span>
                </a>
            </span>
        </li>
        {% if request.user == board.owner or user.is_staff %}
            <li class="nav-item">
                <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                    <a class="nav-link"
                       role="button"
                       hx-get="{% url 'boards:board-preferences' board.slug %}"
                       hx-target="#offcanvasPreferences-body-div"
                       hx-swap="innerHTML"
                       data-bs-toggle="offcanvas"
                       data-bs-target="#offcanvasPreferences">
                        <i class="bi bi-gear"></i>
                        <span>Preferences</span>
                    </a>
                </span>
            </li>
            <li class="nav-item">
                <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                    <a class="nav-link"
                       role="button"
                       hx-get="{% url 'boards:board-update' board.slug %}"
                       hx-target="#modal-1-body-div"
                       data-bs-toggle="modal"
                       data-bs-target="#modal-1-div">
                        <i class="bi bi-pen"></i>
                        <span>Edit Board</span>
                    </a>
                </span>
            </li>
            <li class="nav-item">
                <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                    <a class="nav-link"
                       role="button"
                       hx-get="{% url 'boards:board-delete' board.slug %}"
                       hx-target="#modal-1-body-div"
                       data-bs-toggle="modal"
                       data-bs-target="#modal-1-div">
                        <i class="bi bi-trash"></i>
                        <span>Delete Board</span>
                    </a>
                </span>
            </li>
        {% endif %}
    {% endcache %}
{% endif %}
{% endblock navbar-items %}
{% block content %}
    {% include 'boards/components/board.html' %}
    <div id="offcanvasPreferences"
         class="offcanvas offcanvas-end offcanvas-wide"
         tabindex="-1"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         x-data="{isOpen: false, img_select_open: false}"
         @keyup.escape.window="if (isOpen && !img_select_open) { bootstrap.Offcanvas.getInstance($el).hide(); }"
         @shown-bs-offcanvas.dot="isOpen = true"
         @hidden-bs-offcanvas.dot="isOpen = false"
         @show-bs-modal.dot.window="img_select_open = true"
         @hidden-bs-modal.dot.window="img_select_open = false">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Board Preferences</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div id="offcanvasPreferences-body-div" class="offcanvas-body">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
