{% load crispy_forms_tags %}
<form hx-post="{{ request.build_absolute_uri }}" id="board-form">
    {% crispy form %}
</form>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-success" form="board-form">
        {{ object|yesno:'Save changes,Create board' }}
    </button>
</div>
<h5 id="modal-1-title-div" class="modal-title" hx-swap-oob="true">{{ object|yesno:'Edit,Create' }} Board</h5>
