{% extends "base_generic.html" %}

{% block title %}Board: {{ board }}{% endblock title %}

{% block content %}
<div class="row">
    <p>
        {% for topic in board.topics.all %}
        <div class="col-sm">
            <h3>{{ topic }}</h3>
            <small><a href="{% url 'boards:topic-update' board.pk topic.pk %}" class="text-muted">Edit</a> - <a href="{% url 'boards:topic-delete' board.pk topic.pk %}" class="text-danger">Delete</a></small>
            <div class="card my-2">
                <div class="card-body">
                    <a href="{% url 'boards:post-create' board.pk topic.pk %}" class="card-link"><strong>Create post</strong></a>
                </div>
            </div>
            {% for post in topic.posts.all %}
            <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex">
                        <div>
                            <h5 class="card-title"></h5>
                        </div>
                        {% if request.session.session_key == post.session_key or perms.boards.can_delete_post %}
                        <div class="ms-auto">
                            <a class="btn btn-link btn-sm" href="{% url 'boards:post-update' board.pk topic.pk post.pk %}"><i class="bi bi-pen"></i></a>
                            <a class="btn btn-close btn-sm" href="{% url 'boards:post-delete' board.pk topic.pk post.pk %}"></a>
                        </div>
                        {% endif %}
                </div>
                    
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endfor %}
        <div class="col-sm"><a href="{% url 'boards:topic-create' board.pk %}">Create topic</a></div>
    </p>
</div>

{% endblock content %}
