{% extends "base_generic.html" %}
{% load static %}

{% block title %}Board: {{ board }}{% endblock title %}
{% block navbar_title %}{{ board.slug }} - {{ board }}{% endblock navbar_title %}
{% block navbar-items %}
{% endblock navbar-items %}

{% block content %}
<p>
    <div class="row" id="board-{{ board.slug }}">
        {% for topic in board.topics.all %}
            {% include 'boards/components/topic.html' %}
        {% if forloop.last or request.htmx %}
        <div class="col-sm" id="newTopic-div" hx-trigger="topicCreated" hx-target="#newTopic-div" hx-swap="beforebegin">
            {% if request.user == board.owner or user.is_staff %}
            <div id="createTopic-div"></div>
            <span class="btn btn-outline-primary" hx-get="{% url 'boards:topic-create' topic.board.slug %}" hx-trigger="click" hx-target="#createTopic-div" hx-swap="innerHTML">Create topic</span>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</p>
{{ board.slug|json_script:"board_slug" }}
{{ request.session.session_key|json_script:"session_key" }}

{% endblock content %}


{% block script %}
<script src="{% url 'reverse_js' %}" type="text/javascript"></script>
<script src="{% static 'js/board.js' %}"></script>
{% endblock script %}
