<p>
    Are you sure you want to delete the board:
    <h5>{{ board }}</h5>
    {{ board.description }}
</p>
<form action="{% url 'boards:board-delete' board.slug %}"
      method="post"
      id="board-delete-form">
    {% csrf_token %}
</form>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger" form="board-delete-form">Delete</button>
</div>
<h5 id="modal-1-title-div" hx-swap-oob="true">Delete Board</h5>
