{% extends "base_generic.html" %}
{% load static cache %}
{% block head %}
    {% if board.preferences.enable_latex %}
        <link rel="preload"
              href="https://cdn.jsdelivr.net/npm/mathjax@3.2.0/es5/output/chtml/fonts/woff-v2/MathJax_Zero.woff"
              as="font"
              crossorigin="anonymous"/>
        <link rel="preload"
              href="https://cdn.jsdelivr.net/npm/mathjax@3.2.0/es5/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff"
              as="font"
              crossorigin="anonymous"/>
        <link rel="preload"
              href="https://cdn.jsdelivr.net/npm/mathjax@3.2.0/es5/output/chtml/fonts/woff-v2/MathJax_Math-Italic.woff"
              as="font"
              crossorigin="anonymous"/>
    {% endif %}
    <script defer src="{% static 'boards/js/3rdparty/robust-websocket.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'boards/js/board.js' %}" nonce="{{ CSP_NONCE }}"></script>
{% endblock head %}
{% block title %}
    Board: {{ board }}
{% endblock title %}
{% block navbar_title %}
    {{ board.slug }} - {{ board }}
    <small>
        <span class="badge bg-secondary mx-2 align-middle"
              id="board-online-sessions">0</span></small>
{% endblock navbar_title %}
{% block navbar_subtitle %}
    {{ board.description }}
{% endblock navbar_subtitle %}
{% block navbar-items %}
    {% if is_moderator %}
        {% cache 86400 navbar-board-index board.pk request.user.username %}
        <li class="nav-item">
            <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                <a class="nav-link"
                   role="button"
                   hx-get="{% url 'boards:board-qr' board.slug %}"
                   hx-target="#modal-1-body-div"
                   data-bs-toggle="modal"
                   data-bs-target="#modal-1-div">
                    <i class="bi bi-qr-code"></i>
                </a>
            </span>
        </li>
        {% if request.user == board.owner or user.is_staff %}
            <li class="nav-item">
                <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                    <a class="nav-link"
                       role="button"
                       hx-get="{% url 'boards:board-preferences' board.slug %}"
                       hx-target="#modal-1-body-div"
                       data-bs-toggle="modal"
                       data-bs-target="#modal-1-div">
                        <i class="bi bi-gear"></i>
                    </a>
                </span>
            </li>
            <li class="nav-item">
                <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                    <a class="nav-link"
                       role="button"
                       hx-get="{% url 'boards:board-update' board.slug %}"
                       hx-target="#modal-1-body-div"
                       data-bs-toggle="modal"
                       data-bs-target="#modal-1-div">
                        <i class="bi bi-pen"></i>
                    </a>
                </span>
            </li>
            <li class="nav-item">
                <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                    <a class="nav-link"
                       role="button"
                       hx-get="{% url 'boards:board-delete' board.slug %}"
                       hx-target="#modal-1-body-div"
                       data-bs-toggle="modal"
                       data-bs-target="#modal-1-div">
                        <i class="bi bi-trash"></i>
                    </a>
                </span>
            </li>
        {% endif %}
    {% endcache %}
{% endif %}
{% endblock navbar-items %}
{% block content %}
    {% include 'boards/components/board.html' %}
{% endblock content %}
