{% load crispy_forms_tags %}
<form hx-post="{{ request.build_absolute_uri }}" id="board-form">
    {% crispy form %}
</form>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-success" form="board-form">
        {% if form.instance.pk != None %}
            Save changes
        {% else %}
            Create board
        {% endif %}
    </button>
</div>
{% if form.instance.pk != None %}
    <h5 id="modal-1-title-div" hx-swap-oob="true">Edit Board</h5>
{% else %}
    <h5 id="modal-1-title-div" hx-swap-oob="true">Create Board</h5>
{% endif %}
