{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load cache %}
{% block content %}
    <div class="d-sm-flex flex-grow-1 px-2">
        <div class="col-md-4">
            {% if not is_all_boards %}
                <p>
                    {% crispy form %}
                </p>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% cache 3600 index-list-title request.user is_all_boards %}
                <div class="py-2">
                    <div class="d-flex gap-2">
                        <h4>
                            {% if is_all_boards %}
                                All boards:
                            {% else %}
                                Your boards ({{ request.user }}):
                            {% endif %}
                        </h4>
                        <div class="spinner-border htmx-indicator" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="board-list"
                     hx-get="{% url 'boards:board-list' %}"
                     hx-trigger="load"
                     hx-swap="innerHTML"></div>
            {% endcache %}
        {% endif %}
        {% if perms.boards.can_view_all_boards and not is_all_boards %}
            <p>
                <a class="btn btn-primary" href="{% url 'boards:index-all' %}">All Boards</a>
            </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/index.js' %}" nonce="{{ CSP_NONCE }}"></script>
{% endblock script %}
