{% extends 'base_generic.html' %}

{% block content %}
{% if user.is_authenticated %}
<p>
    <h4>Your boards ({{ user}}):</h4>
    <ul>
        {% for board in user.boards.all %}<li><a href="{{ board.get_absolute_url }}">{{ board }}</a> 
        <a class="btn btn-link btn-sm" href="{% url 'boards:board-update' board.pk %}"><i class="bi bi-pen"></i></a>
        <a class="btn btn-close btn-sm" href="{% url 'boards:board-delete' board.pk %}"></a></li>{% endfor %}
        {% endif %}
    </ul>
</p>
{% endblock content %}   
