{% extends "base_generic.html" %}
{% load crispy_forms_tags static cache %}
{% block head %}
    {% if is_all_boards %}
        <link href="{% static 'css/3rdparty/tagify-4.16.2.min.css' %}"
              rel="stylesheet"/>
        <script defer src="{% static 'js/3rdparty/tagify-4.16.2.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
        <script defer src="{% static 'js/3rdparty/tagify-4.16.2.polyfills.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
    {% endif %}
    <script defer src="{% static 'boards/js/index.js' %}" nonce="{{ CSP_NONCE }}"></script>
{% endblock head %}
{% block content %}
    <div class="d-md-flex flex-grow-1 px-3">
        <div class="col-md">
            {% if not is_all_boards %}
                <p>{% crispy form %}</p>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% cache 86400 index-list-title request.user is_all_boards %}
                {% include "boards/components/user_boards.html" %}
            {% endcache %}
        {% endif %}
        {% if perms.boards.can_view_all_boards and not is_all_boards %}
            <p>
                <a class="btn btn-primary" href="{% url 'boards:index-all' %}">All Boards</a>
            </p>
        {% endif %}
    </div>
    <div class="col-lg d-none d-lg-block"></div>
</div>
{% endblock content %}
