{% load crispy_forms_tags static %}
<script src="{% static 'boards/js/components/board_post_form.js' %}"
        nonce="{{ CSP_NONCE }}"></script>
<form id="post-form" x-init="$store.postForm.chemdoodleCanvasEnabled = false;" x-ref="postForm" hx-post="{{ request.build_absolute_uri }}" @post-successful.camel.window="$nextTick(() => { bootstrap.Modal.getInstance('#modal-1-div').hide() })"
    {% if board.preferences.enable_chemdoodle %}
        @htmx:before-request.camel="chemdoodleToJSONField($event, $store.postForm.chemdoodleCanvasEnabled)"
    {% endif %}
    >
    {% crispy form %}
    {% if board.preferences.enable_chemdoodle %}
        <div class="d-flex justify-content-center">
            <div id="chemdoodle-edit-div"
                 x-show="$store.postForm.chemdoodleCanvasEnabled">
                <canvas id="chemdoodle-edit-canvas" width="0" height="0"></canvas>
            </div>
        </div>
    {% endif %}
</form>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
            tabindex="-1">Close</button>
    <button type="submit" class="btn btn-success" form="post-form" tabindex="0">
        {{ object|yesno:'Save changes,Create post' }}
    </button>
</div>
<h5 id="modal-1-title-div" hx-swap-oob="true">{{ object|yesno:'Edit,Create' }} Post</h5>
