{% load crispy_forms_tags static %}
<form id="post-form" hx-post="{{ request.build_absolute_uri }}">
    {% csrf_token %}
    <table>
        {% crispy form %}
    </table>
</form>
<script defer src="{% static 'boards/js/components/board_easymde.js' %}" nonce="{{ CSP_NONCE }}"></script>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-default"
            data-bs-dismiss="modal"
            tabindex="-1">Close</button>
    <button type="submit"
            class="btn btn-success"
            form="post-form"
            data-bs-dismiss="modal"
            tabindex="0">
        {% if form.instance.pk != None %}
            Save changes
        {% else %}
            Create post
        {% endif %}
    </button>
</div>
{% if form.instance.pk != None %}
    <h5 id="modal-1-title-div" hx-swap-oob="true">Edit Post</h5>
{% else %}
    <h5 id="modal-1-title-div" hx-swap-oob="true">Create Post</h5>
{% endif %}
