<p>
    Are you sure you want to delete the following post from <strong>{{ post.topic.subject }}</strong>?
    <h5 class="text-break" x-markdown>{{ post }}</h5>
</p>
<form hx-post="{{ request.build_absolute_uri }}"
      hx-swap="none"
      id="post-delete-form">
    {% csrf_token %}
</form>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal">Close</button>
    <button type="submit"
            class="btn btn-danger"
            form="post-delete-form"
            data-bs-dismiss="modal">Delete</button>
</div>
<h5 id="modal-1-title-div" class="modal-title" hx-swap-oob="true">Delete Post</h5>
