{% load crispy_forms_tags %}
<form hx-post="{{ request.build_absolute_uri }}" id="topic-form">
    {% csrf_token %}
    <table>
        {{ form|crispy }}
    </table>
    <input type="submit"
           value="Submit"
           class="btn btn-success"
           data-bs-dismiss="modal"
           hidden="true"/>
</form>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-default"
            data-bs-dismiss="modal"
            tabindex="-1">Close</button>
    <button type="submit"
            class="btn btn-success"
            form="topic-form"
            data-bs-dismiss="modal"
            tabindex="0">
        {% if form.instance.pk != None %}
            Save changes
        {% else %}
            Create topic
        {% endif %}
    </button>
</div>
{% if form.instance.pk != None %}
    <h5 id="modal-1-title-div" hx-swap-oob="true">Edit Topic</h5>
{% else %}
    <h5 id="modal-1-title-div" hx-swap-oob="true">Create Topic</h5>
{% endif %}
