<p>
    Are you sure you want to delete the following topic from <strong>{{ topic.board.title }}</strong>?
    <h5>{{ topic }}</h5>
    <form hx-post="{{ request.build_absolute_uri }}"
          hx-swap
          none
          id="topic-delete-form">
        {% csrf_token %}
    </form>
</p>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    <button type="submit"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            form="topic-delete-form">Delete</button>
</div>
<h5 id="modal-1-title-div" hx-swap-oob="true">Delete Topic</h5>
