{% load crispy_forms_tags %}
<form hx-post="{{ request.build_absolute_uri }}" id="topic-form">
    {% csrf_token %}
    <table>
        {{ form|crispy }}
    </table>
    <input type="submit"
           value="Submit"
           class="btn btn-success"
           data-bs-dismiss="modal"
           hidden />
</form>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
            tabindex="-1">Close</button>
    <button type="submit"
            class="btn btn-success"
            form="topic-form"
            data-bs-dismiss="modal"
            tabindex="0">{{ object|yesno:'Save changes,Create topic' }}</button>
</div>
<h5 id="modal-1-title-div" hx-swap-oob="true">{{ object|yesno:'Edit,Create' }} Topic</h5>
