.htmx-indicator {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

.post-card-footer button {
  height: 24px;
  pointer-events: auto !important;
}

.tagify__input {
  min-width: 250px !important;
}

@media (min-width: 768px) {
  .navbar-collapse.collapsing {
    -moz-transition: none;
    -webkit-transition: none;
    overflow: visible;
    transition: none;
  }
}
