**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env*
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/htmlcov
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/tests
**/values.dev.yaml
.sourcery.yaml
LICENSE
README.md
conftest.py
pytest.ini
