{% if form.errors %}
    <div class="alert alert-danger pb-0">{{ form.non_field_errors|escape }}</div>
{% else %}
    <div id="login-form-div">
    {% endif %}
    <form id="login-form"
          class="pb-2"
          hx-post="{% url 'login' %}"
          hx-target="#login-form-div"
          hx-swap="innerHTML">
        {% comment %} {% csrf_token %} {% endcomment %}
        <div class="form-floating mb-3">
            <input type="text"
                   class="form-control"
                   id="id_username"
                   name="username"
                   placeholder="Username"
                   required>
            <label for="id_username">{{ form.username.label_tag }}</label>
        </div>
        <div class="form-floating">
            <input type="password"
                   class="form-control"
                   id="id_password"
                   name="password"
                   placeholder="Password"
                   required>
            <label for="id_password">{{ form.password.label_tag }}</label>
        </div>
        <input type="submit" value="Login" hidden="true"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <button class="btn btn-outline-primary"
            id="password-reset-button"
            hx-get="{% url 'password_reset' %}"
            hx-target="#modal-1-body-div"
            hx-swap="innerHTML">
        Lost password?
    </button>
</div>
<div id="modal-1-footer-div"
     class="modal-footer"
     hx-swap="outerHTML"
     hx-swap-oob="true">
    <input type="submit" value="Login" form="login-form" class="btn btn-success"/>
</div>
<h5 id="modal-1-title-div" hx-swap-oob="true">Login</h5>
