<form hx-post="{% url 'password_reset' %}">
    {% if form.email.errors %}<div class="alert alert-danger pb-0">{{ form.email.errors|escape }}</div>{% endif %}
    <div id="password-reset-form" class="form-floating mb-3">
        <input type="text"
               id="email"
               class="form-control"
               name="email"
               placeholder="Email address:">
        <label for="email">Email address:</label>
    </div>
    <input type="submit" value="Login" hidden="true"/>
</form>
<h5 id="modal-1-title-div" hx-swap-oob="true">Reset Password</h5>
<div id="modal-1-footer-div"
     class="modal-footer"
     hx-swap="outerHTML"
     hx-swap-oob="true">
    <input type="submit"
           value="Reset password"
           form="password-reset-form"
           class="btn btn-primary"/>
</div>
