{% load cacheops sorl_thumbnail static %}
<div id="board-{{ board.slug }}"
     class="flex-grow-1"
     hx-get="{% url 'boards:board' board.slug %}"
     hx-trigger="topicCreated"
     hx-ext="alpine-morph"
     hx-swap="morph">
    <div class="d-md-flex justify-content-between px-3">
        {% if not board.is_posting_allowed %}
            <div class="d-grid flex-fill">
                <div id="alert-postingNotAllowed"
                     class="alert alert-warning my-0"
                     role="alert">Posting disabled.</div>
            </div>
        {% endif %}
    </div>
    <div class="d-md-flex flex-grow-1 justify-content-between px-2"
         x-data="{ topicCount: 0 }"
         x-init="topicCount = $el.querySelectorAll('.topic-list').length;"
         x-cloak
         @topic-created.camel="topicCount = $el.querySelectorAll('.topic-list').length"
         @topic-deleted.camel="topicCount = $el.querySelectorAll('.topic-list').length">
        <div class="position-absolute bottom-0 end-0 sticky-bottom d-md-none m-4"
             x-show="$store.board.is_overflow">
            <a class="btn btn-light shadow-none rounded-circle border-secondary"
               role="button"
               href=""
               data-bs-toggle="offcanvas"
               data-bs-target="#offcanvasTopicList"
               x-show="$store.board.is_overflow">
                <i class="bi bi-list-ul fs-4"></i>
            </a>
        </div>
        <style nonce="{{ CSP_NONCE }}">
        {% cached_as board.preferences None board_style_cache board.preferences.pk %}
        #main-content-div{
            {% if board.preferences.background_type == 'i' %}
            background-image: linear-gradient(rgba(255,255,255,{{ board.preferences.get_inverse_opacity }}), rgba(255,255,255,{{ board.preferences.get_inverse_opacity }})), url("{{ board.preferences.background_image.get_large_thumbnail.url }}");
            background-image: linear-gradient(rgba(255,255,255,{{ board.preferences.get_inverse_opacity }}), rgba(255,255,255,{{ board.preferences.get_inverse_opacity }})), 
            -webkit-image-set(
                url("{{ board.preferences.background_image.get_large_thumbnail_webp.url }}") 1x,
                url("{{ board.preferences.background_image.get_large_thumbnail_webp.url|resolution:"2x" }}") 2x,
                url("{{ board.preferences.background_image.get_large_thumbnail.url }}") 1x    
                url("{{ board.preferences.background_image.get_large_thumbnail.url|resolution:"2x" }}") 2x           
            );
            background-image: linear-gradient(rgba(255,255,255,{{ board.preferences.get_inverse_opacity }}), rgba(255,255,255,{{ board.preferences.get_inverse_opacity }})), 
            image-set(
                url("{{ board.preferences.background_image.get_large_thumbnail_webp.url }}") 1x type("image/webp"),
                url("{{ board.preferences.background_image.get_large_thumbnail_webp.url|resolution:"2x" }}") 2x type("image/webp"),
                url("{{ board.preferences.background_image.get_large_thumbnail.url }}") 1x type("image/jpeg")
                url("{{ board.preferences.background_image.get_large_thumbnail.url|resolution:"2x" }}") 2x type("image/jpeg")
            );
            background-size: cover;
            {% else %}
            background-color: {{ board.preferences.background_color }};
            {% endif %}
            }
        {% endcached_as %}
        </style>
        {% for topic in board.topics.all|dictsort:"pk" %}
            {% include "boards/components/topic.html" %}
        {% endfor %}
        {% if request.user == board.owner or user.is_staff %}
            <div class="col-md-auto px-2" id="boardControls-div">
                {% cached_as board None board_newTopic_cache board.pk %}
                <div class="d-flex bg-white rounded my-2" id="newTopic-card-div">
                    <button class="btn btn-outline-dark shadow-none card-link flex-grow-1 p-3 fs-4"
                            hx-get="{% url 'boards:topic-create' board.slug %}"
                            hx-target="#modal-1-body-div"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div"
                            title="Create Topic">
                        <strong><i class="bi bi-bookmark-plus px-2"></i></strong>
                    </button>
                </div>
            {% endcached_as %}
            {% if board.get_post_count > 0 %}
                <div class="d-flex bg-white rounded my-2" id="deletePosts-card-div">
                    <button class="btn btn-outline-danger shadow-none card-link flex-grow-1 p-3 fs-4"
                            hx-get="{% url 'boards:board-posts-delete' board.slug %}"
                            hx-target="#modal-1-body-div"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div"
                            title="Delete All Posts">
                        <strong><i class="bi bi-file-earmark-x px-2"></i></strong>
                    </button>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="col-md" x-show="topicCount < 2 && !smallWindow"></div>
    <div id="board-scripts">
        {{ board.slug|json_script:"board_slug" }}
        {{ board.preferences.enable_latex|json_script:"mathjax_enabled" }}
        {{ board.preferences.enable_identicons|json_script:"identicons_enabled" }}
        {{ board.preferences.allow_image_uploads|json_script:"allow_image_uploads" }}
        {% if board.preferences.enable_latex %}
            <script defer
                    src="{% static 'boards/js/components/board_mathjax.js' %}"
                    nonce="{{ CSP_NONCE }}"></script>
            <script defer
                    src="https://polyfill.io/v3/polyfill.min.js?features=es6"
                    nonce="{{ CSP_NONCE }}"></script>
            <script defer
                    id="MathJax-script"
                    src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.js"
                    integrity="sha384-Wuix6BuhrWbjDBs24bXrjf4ZQ5aFeFWBuKkFekO2t8xFU0iNaLQfp2K6/1Nxveei"
                    crossorigin="anonymous"
                    nonce="{{ CSP_NONCE }}"></script>
        {% endif %}
        {% if board.preferences.enable_identicons %}
            <script defer
                    src="{% static 'js/3rdparty/jdenticon-3.2.0.min.js' %}"
                    nonce="{{ CSP_NONCE }}"></script>
        {% endif %}
    </div>
</div>
<div id="offcanvasTopicList"
     class="offcanvas offcanvas-bottom offcanvas-tall"
     tabindex="-1"
     x-data="{isOpen: false}"
     @shown-bs-offcanvas.dot="isOpen = true"
     @hidden-bs-offcanvas.dot="isOpen = false">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Topics</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div id="offcanvasTopicList-body-div"
         class="offcanvas-body"
         data-bs-smooth-scroll="true">
        {% cached_as board None board_topic_list_cache board.pk %}
        <ul class="nav nav-pills flex-column">
            {% for topic in board.topics.all|dictsort:"pk" %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="#topic-{{ topic.pk }}"
                       data-bs-toggle="offcanvas"
                       data-bs-target="#offcanvasTopicList">{{ topic }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endcached_as %}
</div>
</div>
</div>
