{% load cache %}
{% load crispy_forms_tags %}
{% load static %}
{% crispy filter.form %}
<script src="{% static 'js/components/board_list.js' %}" nonce="{{ CSP_NONCE }}"></script>
<ul class="list-group">
    {% for board in boards %}
        {% cache 3600 board-list-content board.pk request.session_key request.user perms.boards.change_board is_all_boards %}
        <li class="list-group-item d-flex flex-row justify-content-between align-items-start text-break">
            <div class="ms-2">
                <div class="fw-bold">
                    <a href="{{ board.get_absolute_url }}">{{ board }}</a>
                    <span data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          title="Last post: {{ board.get_last_post_date }}">({{ board.get_post_count }})</span>
                    {% if is_all_boards %}- ({{ board.owner }}){% endif %}
                </div>
                <div class="">{{ board.description }}</div>
                <small class="text-muted">{{ board.created_at|date:'d/m/Y' }}</small>
            </div>
            <div class="d-flex align-items-center">
                {% if request.user == board.owner or perms.boards.change_board %}
                    <button class="btn btn-link btn-sm shadow-none text-black"
                            hx-get="{% url 'boards:board-update' board.slug %}"
                            hx-target="#modal-1-body-div"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div">
                        <i class="bi bi-pen"></i>
                    </button>
                {% endif %}
                {% if request.user == board.owner or perms.boards.delete_board %}
                    <button class="btn btn-close btn-sm"
                            hx-get="{% url 'boards:board-delete' board.slug %}"
                            hx-target="#modal-1-body-div"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div">
                    </button>
                {% endif %}
            </div>
        </li>
    {% endcache %}
{% endfor %}
</ul>
{% cache 3600 board-list-pagination page_obj %}
<ul class="pagination justify-content-center flex-wrap mt-2 mb-4"
    hx-target="#board-list">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
               href=""
               hx-get="{% url 'boards:board-list' %}?page={{ page_obj.previous_page_number }}{% if querystring %}&amp;{{ querystring }}{% endif %}">&laquo;</a>
        </li>
    {% else %}
        <li class="disabled page-item">
            <span class="page-link">&laquo;</span>
        </li>
    {% endif %}
    {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
        {% if page_obj.number == i %}
            <li class="active page-item">
                <span class="page-link">{{ i }}</span>
            </li>
        {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
                <li class="page-item">
                    <span class="page-link">{{ i }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link"
                       href=""
                       hx-get="{% url 'boards:board-list' %}?page={{ i }}{% if querystring %}&amp;{{ querystring }}{% endif %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               class="page-link"
               href=""
               hx-get="{% url 'boards:board-list' %}?page={{ page_obj.next_page_number }}{% if querystring %}&amp;{{ querystring }}{% endif %}">&raquo;</a>
        </li>
    {% else %}
        <li class="disabled page-item">
            <span class="page-link">&raquo;</span>
        </li>
    {% endif %}
</ul>
{% endcache %}
