{% load crispy_forms_tags static %}
{% crispy form %}
<link href="{% static 'css/vendor/tagify-4.17.8.min.css' %}"
      rel="preload stylesheet"
      as="style" />
<script defer
        src="{% static 'js/vendor/tagify-4.17.8.min.js' %}"
        nonce="{{ CSP_NONCE }}"></script>
<script defer
        src="{% static 'js/vendor/tagify-4.17.8.polyfills.min.js' %}"
        nonce="{{ CSP_NONCE }}"></script>
<script defer
        src="{% static 'boards/js/components/board_preferences.js' %}"
        type="text/javascript"
        nonce="{{ CSP_NONCE }}"></script>
