{% load cache crispy_forms_tags static %}
{{ is_all_boards|json_script:"is_all_boards" }}
{% if is_all_boards %}
    <link href="{% static 'css/3rdparty/tagify-4.11.0.css' %}" rel="stylesheet"/>
    <script defer src="{% static 'js/3rdparty/tagify-4.11.0.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'js/3rdparty/tagify-4.11.0.polyfills.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
{% endif %}
<script src="{% static 'js/components/board_list.js' %}" nonce="{{ CSP_NONCE }}"></script>
{% crispy filter.form %}
<ul class="list-group">
    {% for board in boards %}
        <li class="list-group-item d-flex flex-row justify-content-between align-items-start text-break">
            <div class="ms-2">
                <div class="fw-bold">
                    <a href="{{ board.get_absolute_url }}">{{ board }}</a>
                    {% if is_all_boards %}- ({{ board.owner }}){% endif %}
                </div>
                <div>{{ board.description }}</div>
                {% cache 86400 board-list-post-count board.pk %}
                <small class="text-muted">{{ board.created_at|date:'d/m/Y' }} -
                    <span data-bs-toggle="tooltip"
                          data-bs-placement="right"
                          title="Last post: {{ board.get_last_post_date }}">Posts: {{ board.get_post_count }}</span></small>
            {% endcache %}
        </div>
        <div class="d-flex align-items-center">
            {% if request.user == board.owner or perms.boards.change_board %}
                <button class="btn btn-link shadow-none text-black p-1"
                        hx-get="{% url 'boards:board-update' board.slug %}"
                        hx-target="#modal-1-body-div"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-1-div">
                    <i class="bi bi-pen"></i>
                </button>
            {% endif %}
            {% if request.user == board.owner or perms.boards.delete_board %}
                <button class="btn btn-link shadow-none text-black p-1"
                        hx-get="{% url 'boards:board-delete' board.slug %}"
                        hx-target="#modal-1-body-div"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-1-div">
                    <i class="bi bi-trash"></i>
                </button>
            {% endif %}
        </div>
    </li>
{% endfor %}
</ul>
{% cache 3600 board-list-pagination page_obj request.user.username querystring %}
<ul class="pagination justify-content-center flex-wrap mt-2 mb-4"
    hx-target="#board-list">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
               href=""
               hx-get="{% url 'boards:board-list' %}?page={{ page_obj.previous_page_number }}
               {% if querystring %}
                   &amp;{{ querystring }}
               {% endif %}">&laquo;</a>
        </li>
    {% else %}
        <li class="disabled page-item">
            <span class="page-link">&laquo;</span>
        </li>
    {% endif %}
    {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
        {% if page_obj.number == i %}
            <li class="active page-item">
                <span class="page-link">{{ i }}</span>
            </li>
        {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
                <li class="page-item">
                    <span class="page-link">{{ i }}</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link"
                       href=""
                       hx-get="{% url 'boards:board-list' %}?page={{ i }}
                       {% if querystring %}
                           &amp;{{ querystring }}
                       {% endif %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               class="page-link"
               href=""
               hx-get="{% url 'boards:board-list' %}?page={{ page_obj.next_page_number }}
               {% if querystring %}
                   &amp;{{ querystring }}
               {% endif %}">&raquo;</a>
        </li>
    {% else %}
        <li class="disabled page-item">
            <span class="page-link">&raquo;</span>
        </li>
    {% endif %}
</ul>
{% endcache %}
