{% load crispy_forms_tags static %}
{% crispy form %}
<link href="{% static 'vendor/tagify-4.17.8/tagify.min.css' %}"
      rel="preload stylesheet"
      as="style" />
<script defer
        src="{% static 'vendor/tagify-4.17.8/tagify.min.js' %}"
        nonce="{{ CSP_NONCE }}"></script>
<script defer
        src="{% static 'vendor/tagify-4.17.8/tagify.polyfills.min.js' %}"
        nonce="{{ CSP_NONCE }}"></script>
<script defer
        src="{% static 'boards/js/components/board_preferences.js' %}"
        type="text/javascript"
        nonce="{{ CSP_NONCE }}"></script>
