{% load cache cacheops static %}
<div class="d-md-flex flex-grow-1 justify-content-between px-2"
     id="board-{{ board.slug }}"
     hx-get="{% url 'boards:board' board.slug %}"
     hx-trigger="topicCreated"
     hx-swap="outerHTML"
     x-data="{ topicCount: 0 }"
     x-init="topicCount = $el.querySelectorAll('.topic-list').length;"
     x-cloak
     @topic-created.camel="topicCount = $el.querySelectorAll('.topic-list').length;"
     @topic-deleted.camel="topicCount = $el.querySelectorAll('.topic-list').length;">
    <style nonce="{{ CSP_NONCE }}">
      {% cache 3600 board-preferences-style board.preferences.pk %}
        #main-content-div{
        {% if board.preferences.background_type == 'i' %}
        background-image: linear-gradient(rgba(255,255,255,{{ board.preferences.get_inverse_opacity }}), rgba(255,255,255,{{ board.preferences.get_inverse_opacity }})), url("{{ board.preferences.background_image.image.url }}");
        background-image: linear-gradient(rgba(255,255,255,{{ board.preferences.get_inverse_opacity }}), rgba(255,255,255,{{ board.preferences.get_inverse_opacity }})), 
        -webkit-image-set(
            url("{{ board.preferences.background_image.get_webp.url }}") 1x,
            url("{{ board.preferences.background_image.image.url }}") 1x           
        );
        background-image: linear-gradient(rgba(255,255,255,{{ board.preferences.get_inverse_opacity }}), rgba(255,255,255,{{ board.preferences.get_inverse_opacity }})), 
        image-set(
            url("{{ board.preferences.background_image.get_webp.url }}") 1x type("image/webp"),
            url("{{ board.preferences.background_image.image.url }}") 1x type("image/jpeg")
        );
        background-size: cover;
        {% else %}
        background-color: {{ board.preferences.background_color }};
        {% endif %}
        }
        {% endcache %}
    </style>
    {% cached_as board 3600 board_topics_list request.session.session_key request.user.username is_moderator %}
    {% for topic in board.topics.all|dictsort:"pk" %}
        {% include 'boards/components/topic.html' %}
    {% endfor %}
{% endcached_as %}
{% if request.user == board.owner or user.is_staff %}
    {% cache 86400 board-newTopic board.pk %}
    <div class="col-md-auto px-2" id="newTopic-div">
        <div class="card my-2" id="newTopic-card-div">
            <div class="card-body">
                <button class="btn btn-link shadow-none card-link my-2"
                        hx-get="{% url 'boards:topic-create' board.slug %}"
                        hx-target="#modal-1-body-div"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-1-div">
                    <strong>Create topic</strong>
                </button>
            </div>
        </div>
    </div>
{% endcache %}
{% endif %}
<div class="col-md" x-show="topicCount < 2 && !smallWindow"></div>
<div id="board-scripts">
    {{ board.slug|json_script:"board_slug" }}
    {{ board.preferences.enable_latex|json_script:"mathjax_enabled" }}
    {% if board.preferences.enable_latex %}
        <script defer src="{% static 'boards/js/components/board_mathjax.js' %}" nonce="{{ CSP_NONCE }}"></script>
        <script defer src="https://polyfill.io/v3/polyfill.min.js?features=es6" nonce="{{ CSP_NONCE }}"></script>
        <script defer id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3.2.0/es5/tex-mml-chtml.js" integrity="sha384-+BSz3oj3ILMYvOBr16U9i0H4RZRmGyQQ+1q9eqr8T3skmAFrJk8GmgwgqlCZdNSo" crossorigin="anonymous" nonce="{{ CSP_NONCE }}"></script>
    {% endif %}
</div>
</div>
