{% load cache %}
<div class="d-sm-flex flex-grow-1 justify-content-between gap-3 px-2"
     id="board-{{ board.slug }}"
     hx-get="{% url 'boards:board-fetch' board.slug %}"
     hx-trigger="topicCreated"
     hx-swap="outerHTML">
    {% cache 3600 board-preferences-style board.preferences.pk %}
    <style>
        #main-content-div{
        {% if board.preferences.background_type == 'i' %}
        background-image: linear-gradient(rgba(255,255,255,{{ board.preferences.get_inverse_opacity }}), rgba(255,255,255,{{ board.preferences.get_inverse_opacity }})), url("{{ board.preferences.background_image.image.url }}");
        background-size: cover;
        {% else %}
        background-color: {{ board.preferences.background_color }};
        {% endif %}
        }
    </style>
{% endcache %}
{% for topic in board.topics.all|dictsort:"pk" %}
    {% include 'boards/components/topic.html' %}
{% endfor %}
<div class="col-sm" id="newTopic-div">
    {% if request.user == board.owner or user.is_staff %}
        {% cache 3600 board-newTopic board.pk %}
        <div class="card my-2" id="newTopic-card-div">
            <div class="card-body">
                <button class="btn btn-outline-primary my-2"
                        hx-get="{% url 'boards:topic-create' board.slug %}"
                        hx-target="#modal-1-body-div"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-1-div">
                    Create topic
                </button>
            </div>
        </div>
    {% endcache %}
{% endif %}
</div>
</div>
<div id="board-scripts" hx-swap-oob="outerHTML">
    {{ board.slug|json_script:"board_slug" }}
    {{ board.preferences.enable_latex|json_script:"mathjax_enabled" }}
    {% if board.preferences.enable_latex %}
        {% cache 3600 board-preferences-latex %}
        {% load static %}
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.2.0/es5/tex-mml-chtml.js" integrity="sha384-+BSz3oj3ILMYvOBr16U9i0H4RZRmGyQQ+1q9eqr8T3skmAFrJk8GmgwgqlCZdNSo" crossorigin="anonymous"></script>
        <script>
                MathJax = {
                  tex: {
                    inlineMath: [
                      ["$", "$"],
                      ["\\(", "\\)"],
                    ],
                  },
                  svg: {
                    fontCache: "global",
                  },
                  startup: {
                    pageReady() {
                      MathJax.startup.defaultPageReady();
                      MathJax.startup.promise.then(() => {
                        htmx.onLoad(function (elt) {
                          var mathjax_enabled = JSON.parse(
                            document.getElementById("mathjax_enabled").textContent
                          );
                          try {
                            if (window.MathJax != null && mathjax_enabled) {
                              window.MathJax.typesetPromise([elt]);
                            }
                          } catch (err) {}
                        });
                      });
                    },
                  },
                };
        </script>
    {% endcache %}
{% endif %}
</div>
