{% load cache %}
{% cache 3600 image_select type using='redis-cache' %}
<script type="text/javascript">
  htmx.on('htmx:load', function() {
    selectedValue = $('#id_background_image').attr('value');
    $('#' + selectedValue).prop("checked",true);
  });

  $("#image-select .form-check-input").click(function(){
    $('#button-id_background_image').hide();
    $("#id_background_image").attr('value', $(this).attr('id'));
    $("#img-id_background_image").attr('src', $(this).attr('url'));
    $('#img-id_background_image').show();
  });

  var modal1 = bootstrap.Modal.getInstance(document.getElementById('modal-1-div'));
  var modal2 = bootstrap.Modal.getInstance(document.getElementById('modal-2-div'));

  function escape_pressed(event){
    if(event.key === "Escape"){
      modal2.hide();
      modal1.show();
      document.removeEventListener('keydown', escape_pressed);
    };
  };
  document.addEventListener('keydown', escape_pressed);
</script>
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4"
     id="image-select">
    {% for image in images %}
        <div class="col-sm">
            <div class="card">
                <div class="card-img-top">
                    <input class="form-check-input d-none"
                           type="radio"
                           name="flexRadioDefault"
                           url="{{ image.get_thumbnail_url }}"
                           id="{{ image.uuid }}">
                    <label class="form-check-label d-flex" for="{{ image.uuid }}">
                        <img class="w-100" src="{{ image.get_thumbnail_url }}" alt="{{ image }}">
                    </label>
                </div>
                <div class="card-footer">{{ image }}</div>
            </div>
        </div>
    {% endfor %}
</div>
<style>
  .card-img-top {
    position: inherit;
  }

  .card-img-top input[type="radio"]:checked+label::before{
    background: url(https://cdn1.iconfinder.com/data/icons/mimiGlyphs/16/check_mark.png) no-repeat center center;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    }
  .card-img-top input[type="radio"]:checked+label > img {
      opacity: 0.5;
    }
</style>
<div class="modal-footer" id="modal-2-footer-div" hx-swap-oob="true">
    <button class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modal-1-div">Select Image</button>
</div>
<h5 id="modal-2-title-div" hx-swap-oob="true">
    {% if type == 'b' %}
        Background
    {% else %}
        Image
    {% endif %}
    Select
</h5>
{% endcache %}
