<div class="d-grid gap-2">
    {% for message in messages %}
        <div id="alert"
             class="alert {{ message.tags }} alert-dismissible my-0"
             role="alert">
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
            {{ message }}
        </div>
        {% if forloop.last %}
            <script>
            setTimeout(function () {
                $("div[id=alert]").slideUp();
              }, 5000);
            </script>
        {% endif %}
    {% endfor %}
</div>
