{% load cache %}
{% cache 86400 modal num %}
<div class="modal fade"
     id="modal-{{ num }}-div"
     tabindex="-1"
     {% if num == 2 %} data-bs-backdrop="static" data-bs-keyboard="false"{% endif %}>
    <div class="modal-dialog modal-dialog-scrollable{% if num == 2 %} modal-xl{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-{{ num }}-title-div">Loading...</h5>
                {% if num == 1 %}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                            tabindex="-1"></button>
                {% elif num == 2 %}
                    <button type="button"
                            class="btn-close"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div"
                            aria-label="Close"
                            tabindex="-1">
                    </button>
                {% endif %}
            </div>
            <div class="modal-body" id="modal-{{ num }}-body-div">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="modal-{{ num }}-footer-div" hidden="true"></div>
            <div id="modal-{{ num }}-scripts" hidden="true"></div>
        </div>
    </div>
</div>
{% endcache %}
