{% load post_extras %}
{% if post.topic.board.preferences.reaction_type != 'n' %}
    <div class="card-footer text-muted"
         id="post-{{ post.pk }}-footer"
         hx-get="{% url 'boards:post-footer-fetch' post.topic.board.slug post.pk %}"
         hx-trigger="reactionUpdated"
         hx-target="this"
         hx-swap="outerHTML">
        <form hx-post="{% url 'boards:post-reaction' post.topic.board.slug post.pk post.topic.board.preferences.reaction_type 1 %}"
              hx-swap="none">
            {% csrf_token %}
            <button class="btn btn-link text-muted shadow-none p-1" type="submit">
                {% get_has_reacted post request post.topic.board.preferences.reaction_type as has_reacted %}
                {% if has_reacted %}
                    <i class="bi bi-heart-fill"></i>
                {% else %}
                    <i class="bi bi-heart"></i>
                {% endif %}
            </button>
            {{ post.get_reaction_score }}
        </form>
    </div>
{% endif %}
