{% load cacheops mptt_tags post_extras %}
{% if board.preferences.reaction_type != 'n' %}
    {% if reactions == None or post.reply_depth > 0 %}
        {% get_reactions post board.preferences.reaction_type as reactions %}
    {% endif %}
    {% if has_reacted.0 == None or post.reply_depth > 0 %}
        {% get_has_reacted post request reactions as has_reacted %}
    {% endif %}
{% endif %}
{% if is_owner == None or post.reply_depth > 0 %}
    {% get_is_owner post request as is_owner %}
{% endif %}
<div id="container-post-{{ post.pk }}"
     hx-get="{% url 'boards:post-fetch' board.slug topic.pk post.pk %}"
     hx-trigger="postUpdated consume"
     hx-target="this"
     hx-ext="alpine-morph"
     hx-swap="morph"
     x-data="{ isRepliesCollapsed: false, isShownParent{{ post.reply_depth }}: false }"
     x-init="postCount++"
     {% if not post.approved and not is_owner and not is_moderator %}
         hidden
     {% endif %}>
    {% cached_as post None post_cache post.pk post.approved request.session.session_key is_owner is_moderator reactions has_reacted post.updated_at board.preferences %}
    <div class="card post-card mb-2
                {% if not post.approved and is_moderator %}
                    opacity-75
                {% endif %}"
         id="post-{{ post.pk }}"
         x-intersect:enter.half="isShownParent{{ post.reply_depth }} = true"
         x-intersect:leave.half="isShownParent{{ post.reply_depth }} = false"
         :data-shown="isShownParent{{ post.reply_depth }}"
         @animationend="$el.classList.remove('blink')">
        <div class="row flex-nowrap g-0">
            {% if post.reply_depth > 0 %}
                <div class="col-auto rounded-start
                            {% if post.reply_depth == 1 %}
                                bg-primary
                            {% elif post.reply_depth == 2 %}
                                bg-success
                            {% elif post.reply_depth == 3 %}
                                bg-danger
                            {% elif post.reply_depth > 3 %}
                                bg-warning
                            {% endif %}">
                    &ensp;
                </div>
            {% endif %}
            <div class="col-auto flex-fill">
                {% if post.approved or is_owner or is_moderator %}
                    {% cached_as post None post_body_cache post.pk post.approved is_owner is_moderator has_reacted post.updated_at board.preferences %}
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            {% if post.reply_depth > 0 %}
                                <button type="button"
                                        class="btn btn-link text-black shadow-none px-0 py-1 opacity-25"
                                        x-data="{ parentElement: document.getElementById('post-{{ parent.pk }}') }"
                                        title="Highlight parent post"
                                        @click="if (!isShownParent{{ post.reply_depth|add:"-1" }}) { parentElement.scrollIntoView({behavior: 'smooth'}); }; parentElement.classList.toggle('blink');">
                                    {% if post.reply_depth > 0 %}<i class="bi bi-quote pe-2"></i>{% endif %}
                                </button>
                            {% else %}
                                <div "d-none"></div>
                            {% endif %}
                            <div class="d-flex">
                                {% if board.preferences.type == 'r' %}
                                    {% if post.approved %}
                                        {% if post.get_descendant_count > 0 %}
                                            {# djlint:off #}
                                            <button class="btn btn-link text-black shadow-none p-1" key="{{ post.pk }}-collapse-replies" x-on:click="isRepliesCollapsed = !isRepliesCollapsed">
                                                <i class="bi bi-arrows-collapse" title="Collapse {{ post.get_descendant_count }} repl{{ post.get_descendant_count|pluralize:"y,ies" }}" x-show="!isRepliesCollapsed"></i>
                                                <i class="bi bi-arrows-expand" title="Expand {{ post.get_descendant_count }} repl{{ post.get_descendant_count|pluralize:"y,ies" }}" x-show="isRepliesCollapsed"></i>
                                            </button>
                                            {# djlint:on #}
                                        {% endif %}
                                        {% if board.preferences.allow_guest_replies or is_moderator %}
                                            <button class="btn btn-link text-black shadow-none p-1"
                                                    hx-get="{% url 'boards:post-reply' board.slug topic.pk post.pk %}"
                                                    hx-target="#modal-1-body-div"
                                                    hx-swap="innerHTML"
                                                    key="{{ post.pk }}-reply-button"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modal-1-div">
                                                <i class="bi bi-reply" title="Reply"></i>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if is_owner or is_moderator %}
                                    {% if board.preferences.require_post_approval %}
                                        {% if perms.boards.can_approve_posts or is_moderator %}
                                            <button class="btn btn-link text-black shadow-none p-1"
                                                    hx-post="{% url 'boards:post-toggle-approval' board.slug topic.pk post.pk %}"
                                                    hx-trigger="click"
                                                    hx-swap="none"
                                                    key="{{ post.pk }}-approve-button"
                                                    x-data="{ isDisabled: false }"
                                                    x-effect="isDisabled = false"
                                                    x-bind:disabled="isDisabled"
                                                    x-on:click="isDisabled = true">
                                                {% if not post.approved %}
                                                    <i class="bi bi-check-circle-fill" title="Approve"></i>
                                                {% else %}
                                                    <i class="bi bi-x-circle" title="Unapprove"></i>
                                                {% endif %}
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                    <div>
                                        <button class="btn btn-link text-black shadow-none p-1"
                                                type="button"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li>
                                                <a class="dropdown-item"
                                                   role="button"
                                                   hx-get="{% url 'boards:post-update' board.slug topic.pk post.pk %}"
                                                   hx-target="#modal-1-body-div"
                                                   hx-swap="innerHTML"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modal-1-div">
                                                    <i class="bi bi-pen pe-2"></i>Edit Post
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item dropdown-item-del-bg"
                                                   role="button"
                                                   hx-get="{% url 'boards:post-delete' board.slug topic.pk post.pk %}"
                                                   hx-target="#modal-1-body-div"
                                                   hx-swap="innerHTML"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modal-1-div"
                                                   class="btn btn-link text-black shadow-none p-1">
                                                    <i class="bi bi-trash pe-2"></i>Delete Post
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div hx-disable>
                            <p class="card-text text-break my-0
                                      {% if not post.approved and is_moderator %}
                                          opacity-75
                                      {% endif %}"
                               id="post-{{ post.pk }}-text"
                               x-markdown>
                                <span x-ignore>{{ post|linebreaksbr }}</span>
                            </p>
                        </div>
                    </div>
                {% endcached_as %}
                {% if board.preferences.reaction_type != 'n' %}
                    {% include 'boards/components/post_footer.html' %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endcached_as %}
{% if board.preferences.type == 'r' %}
    {% if post.approved or is_owner or is_moderator %}
        <div x-ref="post-{{ post.pk }}-replies"
             x-show="!isRepliesCollapsed"
             x-collapse
             {% if post.reply_depth <= 2 %}class="ps-4"{% endif %}>
            {% with post as parent %}
                {% for post in post.get_children|dictsort:"pk" %}
                    {% include 'boards/components/post.html' %}
                {% endfor %}
            {% endwith %}
            <div id="newCard-post-{{ post.pk }}-div" hidden></div>
        </div>
    {% endif %}
{% endif %}
</div>
