{% load cache %}
<div class="card my-2"
     id="post-{{ post.pk }}"
     hx-get="{% url 'boards:post-fetch' post.topic.board.slug post.pk %}"
     hx-trigger="postUpdated"
     hx-target="this"
     hx-swap="outerHTML"
     {% if not post.approved and not post.session_key == request.session.session_key and not perms.boards.can_approve_posts and not request.user in post.topic.board.preferences.moderators.all and not request.user == post.topic.board.owner %}hidden="true"{% endif %}>
    {% if post.approved or post.session_key == request.session.session_key or perms.boards.can_approve_posts or request.user in post.topic.board.preferences.moderators.all or request.user == post.topic.board.owner %}
        <div class="card-body">
            <div class="d-flex">
                <div>
                    <h5 class="card-title"></h5>
                </div>
                {% if request.session.session_key == post.session_key or perms.boards.can_approve_posts or request.user in post.topic.board.preferences.moderators.all or request.user == post.topic.board.owner %}
                    <div class="ms-auto">
                        {% if post.topic.board.preferences.require_approval  %}
                            {% if perms.boards.can_approve_posts or request.user in post.topic.board.preferences.moderators.all or request.user == post.topic.board.owner %}
                                {% cache 3600 post-approve-button post.pk post.approved %}
                                <button hx-post="{% url 'boards:post-toggle-approval' post.topic.board.slug post.pk %}"
                                        hx-trigger="click"
                                        hx-swap="none"
                                        class="btn btn-link text-black shadow-none p-1">
                                    {% if not post.approved %}
                                        <i class="bi bi-hand-thumbs-up"></i>
                                    {% else %}
                                        <i class="bi bi-hand-thumbs-down"></i>
                                    {% endif %}
                                </button>
                            {% endcache %}
                        {% endif %}
                    {% endif %}
                    {% cache 3600 post-buttons post.pk %}
                    <button hx-get="{% url 'boards:post-update' post.topic.board.slug post.pk %}"
                            hx-target="#modal-1-body-div"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div"
                            class="btn btn-link btn-sm text-black shadow-none p-1">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button hx-get="{% url 'boards:post-delete' post.topic.board.slug post.pk %}"
                            hx-target="#modal-1-body-div"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div"
                            class="btn btn-close btn-sm shadow-none p-1">
                    </button>
                {% endcache %}
            </div>
        {% endif %}
    </div>
    {% cache 3600 post-content post.pk %}
    <p class="card-text text-break" id="post-{{ post.pk }}-text">
        {{ post.content }}
    </p>
{% endcache %}
</div>
{% endif %}
</div>
