{% load board_extras cacheops qr_code %}
{% cached_as board None "board_qr" board.pk %}
<div class="flex-column justify-content-center">
    {% get_split_string board.slug as split_slug %}
    <div class="d-flex justify-content-center">
        <img src="{% qr_url_from_text url size=8 image_format="png" error_correction="H" border=3 %}"
             alt="QR Code"
             class="img-fluid w-75"
             width="350"
             height="350"/>
    </div>
    <div class="d-flex justify-content-center">
        <span class="badge bg-secondary fs-5">{{ request.get_host }}
            <i class="bi bi-arrow-right-square mx-2"></i>
        {{ split_slug }}</span>
    </div>
</div>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-secondary btn-default"
            data-bs-dismiss="modal">Close</button>
</div>
<h5 id="modal-1-title-div" hx-swap-oob="true">QR Code</h5>
{% endcached_as %}
