{% load cache %}
{% cache 3600 qr view.kwargs.slug %}
{% load qr_code %}
<div class="d-flex justify-content-center">
    {% qr_from_text url size=8 image_format="png" error_correction="H" %}
    {% comment %} <img src="{% qr_url_from_text url size=8 image_format="png" error_correction="H" %}%" alt="QR Code"> {% endcomment %}
</div>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-secondary btn-default"
            data-bs-dismiss="modal">Close</button>
</div>
<h5 id="modal-1-title-div" hx-swap-oob="true">QR Code</h5>
{% endcache %}
