{% load board_extras cacheops static %}
{% cached_as board 604800 "board_qr" board.pk %}
<div class="flex-column justify-content-center">
    {% get_split_string board.slug as split_slug %}
    <div class="d-flex justify-content-center">
        <div class="qrcode img-fluid w-75 border border-white border-qr"
             x-init="$nextTick(() => { createQr($el, '{{ url }}') })"></div>
    </div>
    <div class="d-flex justify-content-center"
         x-effect="initializeTooltips($el)">
        <span class="d-flex badge text-bg-info mt-2 fs-5 gap-2">{{ request.get_host }}
            <i class="bi bi-arrow-right-square"></i>
            {{ split_slug }}
            <div class="vr"></div>
            <a class="link-dark link-underline link-underline-opacity-0"
               role="button"
               data-bs-toggle="tooltip"
               :data-bs-original-title="text_initial"
               x-data="{ icon: 'bi-copy', text_initial: 'Copy to clipboard', text_copied: 'Copied!', setTooltip(text){bootstrap.Tooltip.getInstance($el).setContent({'.tooltip-inner': text})} }"
               @click="icon='bi-check2'; setTooltip(text_copied); setTimeout(() => {icon = 'bi-copy'; setTooltip(text_initial)}, 3000)"
               x-clipboard="'{{ url }}'">
                <i class="bi" :class="icon"></i>
            </a>
        </span>
    </div>
</div>
<div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
    <button type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal">Close</button>
</div>
<h5 id="modal-1-title-div" class="modal-title" hx-swap-oob="true">QR Code</h5>
{% endcached_as %}
