{% load cacheops %}
{% cached 86400 toast %}
<div class="position-fixed d-print-none bottom-0 end-0 p-3"
     x-data="toastNotification()">
    <div id="toast"
         class="toast align-items-center border-0"
         :class="bg_color"
         @show-message.camel.window="openToast($event); new bootstrap.Toast($el).show();"
         role="alert"
         data-bs-delay="3000"
         aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div id="toast-body" class="toast-body" x-text="message"></div>
            <div class="text-body me-2 m-auto" :data-bs-theme="btn_theme">
                <button id="toast-close"
                        type="button"
                        class="btn btn-link"
                        data-bs-dismiss="toast"
                        aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endcached %}
