{% load cacheops %}
<div class="col-md topic-list px-2"
     id="topic-{{ topic.pk }}"
     hx-get="{% url 'boards:topic-fetch' topic.board.slug topic.pk %}"
     hx-trigger="topicUpdated"
     hx-target="this"
     hx-swap="outerHTML"
     x-data="{ isDeletePostsDisabled: false, checkDeletePostsDisabled: function() { return $refs.topicPosts_{{ topic.pk }}.childElementCount <= 1 } }"
     x-init="isDeletePostsDisabled = checkDeletePostsDisabled()">
    {% cached_as topic None topic_posts_list topic request.session.session_key request.user.username is_moderator %}
    <div class="card my-2" id="topic-{{ topic.pk }}-title">
        <div class="card-body">
            <h5 class="card-title text-break"
                id="topic-{{ topic.pk }}-subject"
                hx-disable
                x-ignore>{{ topic }}</h5>
            {% if request.user == board.owner or request.user.is_staff %}
                <div class="d-flex justify-content-start gap-3">
                    <button class="btn btn-link shadow-none text-muted p-0"
                            id="topic-{{ topic.pk }}-update-url"
                            hx-get="{% url 'boards:topic-update' topic.board.slug topic.pk %}"
                            hx-target="#modal-1-body-div"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div">
                        Edit
                    </button>
                    <button class="btn btn-link shadow-none text-danger p-0"
                            id="topic-{{ topic.pk }}-delete-url"
                            hx-get="{% url 'boards:topic-posts-delete' topic.board.slug topic.pk %}"
                            hx-target="#modal-1-body-div"
                            hx-swap="innerHTML"
                            :disabled="isDeletePostsDisabled"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div">
                        Delete Posts
                    </button>
                    <button class="btn btn-link shadow-none text-danger p-0"
                            id="topic-{{ topic.pk }}-delete-url"
                            hx-get="{% url 'boards:topic-delete' topic.board.slug topic.pk %}"
                            hx-target="#modal-1-body-div"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-1-div">
                        Delete Topic
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card my-2" id="topic-{{ topic.pk }}-create">
        <div class="card-body">
            <button id="topic-{{ topic.pk }}-create-url"
                    hx-get="{% url 'boards:post-create' topic.board.slug topic.pk %}"
                    hx-target="#modal-1-body-div"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-1-div"
                    class="btn btn-link shadow-none card-link">
                <strong>Create post</strong>
            </button>
        </div>
    </div>
{% endcached_as %}
<div x-ref="topicPosts_{{ topic.pk }}">
    {% for post in topic.posts.all|dictsort:"pk" %}
        {% include 'boards/components/post.html' %}
    {% endfor %}
    <div id="newCard-{{ topic.pk }}-div" hidden></div>
</div>
</div>
