{% extends show_modal|yesno:"blank.html,base_generic.html" %}
{% block content %}
    {% if not show_modal %}
        <div class="d-flex flex-fill justify-content-center">
            <div class="d-flex-column flex-grow-1 flex-sm-grow-0"
                 style="width: 400px;">
                 <h2>Login Lockout</h2>
            {% endif %}
           
            <p>
                You have been locked out from further login attempts for {{ cooloff_time }}.
            </p>
            {% if not show_modal %}
            </div>
        </div>
    {% else %}
        <h5 id="modal-1-title-div" hx-swap-oob="true">Login Lockout</h5>
    {% endif %}
{% endblock content %}
