{% extends "base_generic.html" %}
{% load static %}
{% block head %}
    <script defer src="{% static 'boards/js/index.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'accounts/js/profile.js' %}" nonce="{{ CSP_NONCE }}"></script>
{% endblock head %}
{% block content %}
    <div class="flex-column flex-fill">
        <div class="d-flex align-items-start gap-4 mx-4">
            <div class="col-2 mt-2">
                <h4>Welcome {{ user.username }}</h4>
                {% include "accounts/components/profile_detail.html" %}
            </div>
            <div class="col-1 vr text-secondary"></div>
            <div class="col">{% include "boards/components/user_boards.html" %}</div>
            <div class="col-2" x-show="!smallWindow"></div>
        </div>
    </div>
{% endblock content %}
