{% extends "base_generic.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'css/vendor/tagify-4.16.4.min.css' %}"
          rel="stylesheet"/>
    <script defer src="{% static 'js/vendor/tagify-4.16.4.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'js/vendor/tagify-4.16.4.polyfills.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'boards/js/index.js' %}" nonce="{{ CSP_NONCE }}"></script>
    <script defer src="{% static 'accounts/js/profile.js' %}" nonce="{{ CSP_NONCE }}"></script>
{% endblock head %}
{% block content %}
    <div class="flex-column flex-fill">
        <div class="d-md-flex align-items-start gap-4 mx-4">
            <div class="col-md-4 col-lg-3 col-xl-3 col-xxl-2 mt-2">
                <h5>Welcome {{ user.username }}</h5>
                {% include "accounts/components/profile_detail.html" %}
            </div>
            <div class="col-md-1 d-none d-md-block vr text-secondary"></div>
            <div class="col col-md-0 d-block d-md-none text-secondary">
                <hr/>
            </div>
            <div class="col-md">
                <div id="board-list"
                     hx-get="{% url 'boards:board-list' "own" %}"
                     hx-trigger="load"
                     hx-indicator="#spinner"
                     hx-swap="innerHTML">
                    <div id="spinner" class="spinner-border htmx-indicator" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 d-none d-xl-block"></div>
        </div>
    </div>
{% endblock content %}
