{% if request.user.is_staff or request.user.is_superuser %}
    <p>You are not allowed to delete your account via this page as you are a staff member.</p>
{% else %}
    <p>
        Are you sure you wish to delete your account?
        All of your boards and related content will be <span class="fw-bold">deleted</span>.
        <h5 class="text-center">This action is irreversible.</h5>
        <div class="input-group mt-3">
            <div class="input-group-text">
                <input id="userDeleteConfirmCheckbox"
                       class="form-check-input"
                       type="checkbox"
                       x-model="$store.userPreferences.deleteConfirm"/>
            </div>
            <label class="form-control form-check-label" for="userDeleteConfirmCheckbox">
                I confirm that I understand and wish to delete my account.
            </label>
        </div>
    </p>
    <form action="{{ request.build_absolute_uri }}"
          method="post"
          id="post-delete-form"
          x-init="$store.userPreferences.deleteConfirm = false">
        {% csrf_token %}
    </form>
    <div class="modal-footer" id="modal-1-footer-div" hx-swap-oob="true">
        <button type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal">Close</button>
        <button type="submit"
                class="btn btn-danger"
                form="post-delete-form"
                data-bs-dismiss="modal"
                :disabled="!$store.userPreferences.deleteConfirm">
            Delete
        </button>
    </div>
{% endif %}
<h5 id="modal-1-title-div" hx-swap-oob="true">Delete Account</h5>
