{% if messages %}
    <div class="d-md-flex justify-content-between px-3">
        <div class="d-grid flex-fill gap-2">
            {% for message in messages %}
                <div x-data="{ show: true }"
                     x-show="show"
                     x-init="'{{ message.tags }}'.includes('alert-danger') ? '' : setTimeout(() => show = false, 5000)"
                     x-collapse>
                    <div id="alert-{{ forloop.counter }}"
                         class="alert {{ message.level_tag }} alert-dismissible my-0"
                         role="alert">
                        {# revisit if changing to tailwind css #}
                        <button type="button"
                                class="btn-close"
                                {% if message.extra_tags %}
                                    hx-get="{% url 'notices:clear-notice' message.extra_tags %}"
                                {% endif %}
                                @click="show=false;">
                        </button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
