.accounts-column {
  width: 400px;
}

.blink {
  animation: blinking 0.5s 2;
}

@keyframes blinking {
  50% {
    opacity: 0.25;
  }
}

.dropdown-item-del-bg {
  --bs-dropdown-link-hover-bg: rgba(var(--bs-danger-rgb), 0.2);
  --bs-dropdown-link-active-bg: var(--bs-danger);
}

.faded-75 {
  background: rgba(255, 255, 255, 0.75);
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

.offcanvas-tall {
  --bs-offcanvas-height: 50vh;
}

.offcanvas-wide {
  --bs-offcanvas-width: 500px;
}

.post-card-footer button {
  height: 24px;
  pointer-events: auto !important;
}

.tagify__input {
  min-width: 250px !important;
}

[x-cloak] {
  display: none !important;
}

@media (min-width: 768px) {
  .navbar-collapse.collapsing {
    -moz-transition: none;
    -webkit-transition: none;
    overflow: visible;
    transition: none;
  }
}
