.accounts-column {
  width: 400px;
}

.blink {
  animation: blinking 0.5s 2;
}

@keyframes blinking {
  50% {
    opacity: 0.25;
  }
}

.btn-link {
  --bs-btn-color: var(--bs-card-title-color);
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-active-color: var(--bs-btn-color);
}

.body-link-50 {
  --bs-btn-color: rgba(var(--card-title-color-rgb), 0.5);
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-active-color: var(--bs-btn-color);
}

.btn-new-post, .btn-new-topic {
  --bs-border-opacity: 1;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--bs-body-bg);
  --bs-btn-border-color: rgba(var(--bs-secondary-rgb),var(--bs-border-opacity));
  --bs-btn-hover-color: var(--bs-secondary-bg);
  --bs-btn-hover-bg: var(--bs-secondary-color);
  --bs-btn-hover-border-color: --bs-btn-border-color;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--bs-body-color);
  --bs-btn-active-border-color: --bs-btn-border-color;
}

.btn-approve-all-posts {
  --bs-border-opacity: 1;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-success-text);
  --bs-btn-bg: var(--bs-success-bg-subtle);
  --bs-btn-border-color: rgba(var(--bs-success-rgb),var(--bs-border-opacity));
  --bs-btn-hover-color: var(--bs-success-text);
  --bs-btn-hover-bg: var(--bs-success-border-subtle);
  --bs-btn-hover-border-color: --bs-btn-border-color;
  --bs-btn-active-color: var(--bs-success-bg-subtle);
  --bs-btn-active-bg: var(--bs-success);
  --bs-btn-active-border-color: --bs-btn-border-color;
}

.btn-delete-all-posts {
  --bs-border-opacity: 1;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-danger-text);
  --bs-btn-bg: var(--bs-danger-bg-subtle);
  --bs-btn-border-color: rgba(var(--bs-danger-rgb),var(--bs-border-opacity));
  --bs-btn-hover-color: var(--bs-danger-text);
  --bs-btn-hover-bg: var(--bs-danger-border-subtle);
  --bs-btn-hover-border-color: --bs-btn-border-color;
  --bs-btn-active-color: var(--bs-danger-bg-subtle);
  --bs-btn-active-bg: var(--bs-danger);
  --bs-btn-active-border-color: --bs-btn-border-color;
}

.dropdown-item-del-bg {
  --bs-dropdown-link-hover-bg: rgba(var(--bs-danger-rgb), 0.2);
  --bs-dropdown-link-active-bg: var(--bs-danger);
}

.faded-75 {
  background: rgba(255, 255, 255, 0.75);
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

.offcanvas-tall {
  --bs-offcanvas-height: 50vh;
}

.offcanvas-wide {
  --bs-offcanvas-width: 500px;
}

.post-card-footer button {
  height: 24px;
  pointer-events: auto !important;
}

.tagify__input {
  min-width: 250px !important;
}

[x-cloak] {
  display: none !important;
}

@media (min-width: 768px) {
  .navbar-collapse.collapsing {
    -moz-transition: none;
    -webkit-transition: none;
    overflow: visible;
    transition: none;
  }
}

@media print {
  #main-content-div {
    overflow: unset !important;
  }
  .avoid-pagebreak {
    break-inside: avoid;
  }
}
