.accounts-column {
  width: 400px;
}

.blink {
  animation: blinking 0.5s 2;
}

@keyframes blinking {
  50% {
    opacity: 0.25;
  }
}

.btn-link {
  --bs-btn-color: var(--bs-card-title-color);
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-active-color: var(--bs-btn-color);
}

.body-link-50 {
  --bs-btn-color: rgba(var(--card-title-color-rgb), 0.5);
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-active-color: var(--bs-btn-color);
}

.dropdown-color-mode {
  --bs-dropdown-min-width: 8rem;
}

.dropdown-item-approve-bg {
  --bs-dropdown-link-hover-bg: rgba(var(--bs-success-rgb), 0.2);
  --bs-dropdown-link-active-bg: var(--bs-success);
}

.dropdown-item-del-bg {
  --bs-dropdown-link-hover-bg: rgba(var(--bs-danger-rgb), 0.2);
  --bs-dropdown-link-active-bg: var(--bs-danger);
}

[data-bs-theme="dark"] input {
  color-scheme: dark;
}

[data-bs-theme="dark"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0.7);
}

[data-bs-theme="dark"] .tagify {
  --tags-border-color: var(--bs-border-color);
  --placeholder-color: rgba(255, 255, 255, 0.4);
  --placeholder-color-focus: rgba(255, 255, 255, 0.25);
}

.navbar .dropdown-menu .active .bi {
  display: block !important;
}

.faded-75 {
  background: rgba(255, 255, 255, 0.75);
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 200ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
}
.htmx-request.htmx-indicator {
  opacity: 1;
}

.nospam {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.offcanvas-tall {
  --bs-offcanvas-height: 50vh;
}

.offcanvas-wide {
  --bs-offcanvas-width: 500px;
}

.post-card-footer button {
  height: 24px;
  pointer-events: auto !important;
}

.tagify__input {
  min-width: 250px !important;
}

[x-cloak] {
  display: none !important;
}

@media (min-width: 768px) {
  .navbar-collapse.collapsing {
    -moz-transition: none;
    -webkit-transition: none;
    overflow: visible;
    transition: none;
  }
}

@media print {
  #main-content-div {
    overflow: unset !important;
  }
  .avoid-pagebreak {
    break-inside: avoid;
  }
}
