{% load crispy_forms_tags %}
<form id="password-change-form"
      class="pb-2"
      hx-post="{% url 'account_change_password' %}"
      hx-target="#modal-1-body-div"
      hx-swap="innerHTML">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit" hidden></button>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<div id="modal-1-footer-div"
     class="modal-footer"
     hx-swap="outerHTML"
     hx-swap-oob="true">
  <input type="submit"
         value="Save changes"
         form="password-change-form"
         class="btn btn-success" />
</div>
<h5 id="modal-1-title-div" class="modal-title" hx-swap-oob="true">Change Password</h5>
