{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <h2>
            {% if token_fail %}
                Bad Token
            {% else %}
                Change Password
            {% endif %}
        </h2>
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                The password reset link was invalid, possibly because it has already been used.  Please request a <a class="link-primary"
    hx-get="{{ passwd_reset_url }}"
    hx-target="#modal-1-body-div"
    hx-swap="innerHTML"
    data-bs-toggle="modal"
    data-bs-target="#modal-1-div">new password reset</a>.
            </p>
        {% else %}
            <div class="d-inline-flex p-2 bd-highlight">
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit"
                           class="btn btn-primary"
                           name="action"
                           value="Change Password"/>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock content %}
