{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex flex-fill justify-content-center px-3">
        <div class="d-flex-column flex-grow-1 flex-sm-grow-0">
            <h2>Sign Up</h2>
            <p>
                You are about to use your {{ account.get_provider.name }} account to login to {{ site.name }}. As a final step, please complete the following form:
            </p>
            <form class="signup"
                  id="signup_form"
                  method="post"
                  action="{% url 'socialaccount_signup' %}">
                {% crispy form %}
                <button class="btn btn-success" form="signup_form" type="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock content %}
