{% extends "base_generic.html" %}
{% block head %}
    {% if sentry_event_id %}
        <script src="https://browser.sentry-cdn.com/7.17.4/bundle.min.js" integrity="sha384-XHC4Ua4bFZF23Rgwkuf3FJGT1/W1dWbIaICyTr+qKjMcJ0cC96rK7J7L0wCTn2xC" crossorigin="anonymous" nonce="{{ CSP_NONCE }}">
        </script>
    {% endif %}
{% endblock head %}
{% block content %}
    <div class="flex-grow-1">
        <h3>An error has occurred.</h3>
        {% if sentry_event_id %}Event ID: {{ sentry_event_id }}{% endif %}
    </div>
    {% if sentry_event_id %}
        {% load board_extras %}
        {% settings_value "SENTRY_DSN" as sentry_dsn %}
        <script nonce="{{ CSP_NONCE }}">
            Sentry.init({ dsn: "{{ sentry_dsn }}" });
            Sentry.showReportDialog({ eventId: "{{ sentry_event_id }}" });
        </script>
    {% endif %}
{% endblock content %}
