{% load cache static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title hx-disable x-ignore>
            {% block title %}
                Jotlet
            {% endblock title %}
        </title>
        <meta charset="utf-8"/>
        <meta name="description"
              content="Jotlet. An open-source ---let alternative"/>
        <meta name="keywords" content="audience response"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="htmx-config" content='{"includeIndicatorStyles": false}'/>
        <link href="{% static 'css/3rdparty/bootstrap-5.2.0-beta1.min.css' %}"
              rel="stylesheet"/>
        <link href="{% static 'css/3rdparty/bootstrap-icons-1.8.2.min.css' %}"
              rel="stylesheet"/>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
        <link href="{% static 'images/favicon.svg' %}"
              rel="icon"
              sizes="any"
              type="image/svg+xml"/>
        <script defer src="{% static 'js/3rdparty/bootstrap-5.2.0-beta1.bundle.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
        <script defer src="{% static 'js/3rdparty/htmx-1.8.0.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
        <script defer src="{% static 'js/base.js' %}" nonce="{{ CSP_NONCE }}"></script>
        {% block head %}
        {% endblock head %}
        <script defer src="{% static 'js/3rdparty/alpinejs-collapse-3.10.2.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
        <script defer src="{% static 'js/3rdparty/alpinejs-mask-3.10.2.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
        <script defer src="{% static 'js/3rdparty/alpinejs-3.10.2.min.js' %}" nonce="{{ CSP_NONCE }}"></script>
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          x-data="{ smallWindow: false }"
          x-init="smallWindow = ((window.innerWidth > 0) ? window.innerWidth : screen.width) < 992;"
          @resize.window="smallWindow = ((window.innerWidth > 0) ? window.innerWidth : screen.width) < 992;">
        <div class="container-fluid vh-100 d-flex flex-column p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
                <div class="container-fluid">
                    <a class="navbar-brand mb-0 h1" href="{% url 'boards:index' %}">
                        <div class="d-flex flex-column text-break" hx-disable x-data x-ignore>
                            <div class="d-flex align-items-center">
                                {% block navbar_title %}
                                    Jotlet
                                {% endblock navbar_title %}
                            </div>
                            <span class="fs-6">
                                {% block navbar_subtitle %}
                                    An open-source ---let alternative
                                {% endblock navbar_subtitle %}
                            </span>
                        </div>
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarText">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <span class="ms-auto">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                {% block navbar-items %}
                                {% endblock navbar-items %}
                                {% if perms.boards.add_board %}
                                    {% cache 86400 navbar-button-addBoard perms.boards.add_board %}
                                    <li class="nav-item">
                                        <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                                            <a class="nav-link"
                                               role="button"
                                               hx-get="{% url 'boards:board-create' %}"
                                               hx-target="#modal-1-body-div"
                                               data-bs-toggle="modal"
                                               data-bs-target="#modal-1-div">
                                                Create board
                                            </a>
                                        </span>
                                    </li>
                                {% endcache %}
                            {% endif %}
                            {% if request.user.is_authenticated %}
                                {% cache 86400 navbar-user-menu request.path request.user.username %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       href="#"
                                       id="navbarDropdownMenuLink"
                                       role="button"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false">
                                        {{ user }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-lg-end"
                                        aria-labelledby="navbarDropdownMenuLink">
                                        {% if user.is_staff %}
                                            <li>
                                                <a href="{% url 'admin:index' %}" class="dropdown-item">Admin Panel</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                                                <a class="dropdown-item"
                                                   role="button"
                                                   hx-get="{% url 'account_change_password' %}?next={{ request.path }}"
                                                   hx-target="#modal-1-body-div"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modal-1-div">
                                                    Change Password
                                                </a>
                                            </span>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               role="button"
                                               hx-post="{% url 'account_logout' %}?next={{ request.path }}"
                                               hx-target="body">
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endcache %}
                        {% else %}
                            {% cache 86400 navbar-login-menu request.path %}
                            <li class="nav-item">
                                <span data-bs-toggle="collapse" data-bs-target="#navbarText">
                                    <a class="nav-link"
                                       role="button"
                                       hx-get="{% url 'account_login' %}?next={{ request.path }}"
                                       hx-target="#modal-1-body-div"
                                       data-bs-toggle="modal"
                                       data-bs-target="#modal-1-div">
                                        Login/Register
                                    </a>
                                </span>
                            </li>
                        {% endcache %}
                    {% endif %}
                </ul>
            </span>
        </div>
    </div>
</nav>
<div class="d-flex flex-column overflow-auto flex-grow-1"
     id="main-content-div">
    {% include 'components/messages.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'components/footer.html' %}
    {% include 'boards/components/toast.html' %}
</div>
</div>
{% include 'boards/components/modal.html' with num=1 %}
{% include 'boards/components/modal.html' with num=2 %}
{% if not request.htmx %}
    <script type="module" nonce="{{ CSP_NONCE }}">
        {% cache 86400 base-script-modals %}
        htmx.on("hidden.bs.modal", function (e) {
            var modal2 = bootstrap.Modal.getInstance(
            document.getElementById("modal-2-div")
            );
            var modal2_isShown = false;
            try {
            modal2_isShown = modal2._isShown;
            } catch (err) {}
        
            if (!modal2_isShown && e.target.id == "modal-1-div") {
            htmx.find(
                "#modal-1-div"
            ).outerHTML = `{% include 'boards/components/modal.html' with num=1 %}`;
            }
        
            if (e.target.id == "modal-2-div") {
            htmx.find(
                "#modal-2-div"
            ).outerHTML = `{% include 'boards/components/modal.html' with num=2 %}`;
            }
        });
        {% endcache %}
    </script>
{% endif %}
{% block script %}
{% endblock script %}
</body>
</html>
