<div id="profile"
     class="d-flex flex-column text-secondary"
     hx-target="this"
     hx-swap="outerHTML">
    <span>
        Email: {{ user.email }}
        {% if is_email_verified %}
            <i class="bi bi-check-square" title="Email verified"></i>
        {% else %}
            <a href="{% url 'account_email' %}"><i class="bi bi-x-square" title="Email not verified"></i></a>
        {% endif %}
    </span>
    <span>First Name: {{ user.first_name }}</span>
    <span>Last Name: {{ user.last_name }}</span>
    <span>
        Newsletter:
        {% if user.profile.optin_newsletter %}
            <i class="bi bi-check-square" title="Opted in"></i>
        {% else %}
            <i class="bi bi-x-square" title="Opted out"></i>
        {% endif %}
    </span>
    <span>
        <a class="btn btn-link"
           role="button"
           hx-get="{% url 'account_profile_edit' %}">Edit Profile</a></span><span>
    <a class="btn btn-link"
       role="button"
       hx-get="{% url 'account_change_password' %}?next={{ request.path }}"
       hx-target="#modal-1-body-div"
       hx-swap="innerHTML"
       data-bs-toggle="modal"
       data-bs-target="#modal-1-div">
        Change Password
    </a>
    <a class="btn btn-link text-danger"
       role="button"
       hx-get="{% url 'account_delete' %}"
       hx-target="#modal-1-body-div"
       hx-swap="innerHTML"
       data-bs-toggle="modal"
       data-bs-target="#modal-1-div">
        Delete Account
    </a>
</span>
</div>
