<div id="profile"
     class="d-flex flex-column gap-2"
     hx-target="this"
     hx-swap="outerHTML">
    <div class="d-flex flex-column gap-2 my-2">
        <div class="text-truncate">
            <h6 class="mb-0">
                Email
                {% if is_email_verified %}
                    <i class="bi bi-exclamation-square" title="Email verified"></i>
                {% else %}
                    <a href="{% url 'account_email' %}"><i class="bi bi-x-square" title="Email not verified"></i></a>
                {% endif %}
            </h6>
            <span title="{{ user.email }}">{{ user.email }}</span>
        </div>
        <div class="text-truncate">
            <h6 class="mb-0">First Name</h6>
            <span title="{{ user.first_name }}">{{ user.first_name }}</span>
        </div>
        <div class="text-truncate">
            <h6 class="mb-0">Last Name</h6>
            <span title="{{ user.last_name }}">{{ user.last_name }}</span>
        </div>
        <div>
            <h6>Owned Boards</h6>
            <span>
                <a hx-get="{% url 'boards:board-list' "own" %}"
                   hx-target="#board-list"
                   hx-indicator="#spinner"
                   hx-swap="innerHTML"
                   href="">{{ user.profile.get_board_count }}</a>
            </span>
        </div>
        <div>
            <h6>Moderated Boards</h6>
            <span>
                <a hx-get="{% url 'boards:board-list' "mod" %}"
                   hx-target="#board-list"
                   hx-indicator="#spinner"
                   hx-swap="innerHTML"
                   href="">{{ user.profile.get_mod_board_count }}</a>
            </span>
        </div>
        <div>
            <h6 class="mb-0">Newsletter</h6>
            {% if user.profile.optin_newsletter %}
                Opted in
            {% else %}
                Opted out
            {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column gap-2">
        <div>
            <a class="btn btn-outline-primary"
               role="button"
               hx-get="{% url 'account_profile_edit' %}">Edit Profile</a>
        </div>
        <div>
            <a class="btn btn-outline-secondary"
               role="button"
               hx-get="{% url 'account_change_password' %}?next={{ request.path }}"
               hx-target="#modal-1-body-div"
               hx-swap="innerHTML"
               data-bs-toggle="modal"
               data-bs-target="#modal-1-div">Change Password</a>
        </div>
        <div>
            <a class="btn btn-danger"
               role="button"
               hx-get="{% url 'account_delete' %}"
               hx-target="#modal-1-body-div"
               hx-swap="innerHTML"
               data-bs-toggle="modal"
               data-bs-target="#modal-1-div">Delete Account</a>
        </div>
    </div>
</div>
