{% load crispy_forms_field thumbnail %}
{% if tag %}
    <{{ tag }}
{% else %}
    <div {% endif %}
         id="div_{{ field.auto_id }}"
         class="mb-3 {% if field|is_checkbox and form_show_labels %}form-check{% else %}{% if 'form-horizontal' in form_class %}row{% endif %}{% endif %}{% if wrapper_class %}{{ wrapper_class }}{% endif %}{% if field.css_classes %}{{ field.css_classes }}{% endif %}{% if field.errors %} has-danger{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label {% if field.id_for_label and not field|is_radioselect %}for="{{ field.id_for_label }}"{% endif %}
                   class="{% if 'form-horizontal' in form_class %}col-form-label{% else %}form-label{% endif %}{% if label_class %} {{ label_class }}{% endif %}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label }}
                {% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}
        <div>
            <div class="input-group">
                <span class="input-group-text">{{ crispy_prepended_text }}</span>
                {% thumbnail object.background_image.image "300x200" crop="center" format="WEBP" as im_webp %}
                {% thumbnail object.background_image.image "300x200" crop="center" format="JPEG" as im_jpeg %}
                {% if object.background_image == None %}
                    <button class="btn btn-outline-primary rounded-end form-control {% if field.errors %}is-invalid{% endif %}"
                            type="button"
                            value="Select image..."
                            hx-get="{% url 'boards:image-select' 'b' %}"
                            hx-target="#modal-2-body-div"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-2-div"
                            id="button-{{ field.auto_id }}">
                        Select image...
                    </button>
                {% endif %}
                <picture id="img-picture-tag"
                         class="form-control p-0"
                         {% if object.background_image == None %}style="display: none;"{% endif %}>
                    <source id="src-webp" x-bind:srcset="$store.boardPreferences.img_srcset_webp" type="image/webp"/>
                    <source id="src-jpeg" x-bind:srcset="$store.boardPreferences.img_srcset_jpeg" type="image/jpeg"/>
                    <img class="p-0 rounded-end form-control {% if field.errors %}is-invalid{% endif %}"
                        x-bind:src="$store.boardPreferences.img_srcset_jpeg"
                        alt="{{ object.background_image }}"
                        hx-get="{% url 'boards:image-select' 'b' %}"
                        hx-target="#modal-2-body-div"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-2-div"
                        id="img-{{ field.auto_id }}"/>
                </picture>
            {% endthumbnail %}
            {% endthumbnail %}
        <input type="text"
               name="{{ field.name }}"
               x-bind:value="$store.boardPreferences.img_uuid"
               {% comment %} value="{% if object.background_image == None %}{% else %}{{ field.value }}{% endif %}" {% endcomment %}
               id="{{ field.auto_id }}"
               hidden="true"/>
        {% if field.errors %}
            <span id="error_{{ forloop.counter }}_{{ field.auto_id }}"
                  class="invalid-feedback">
                <strong>{{ field.errors.0 }}</strong>
            </span>
        {% endif %}
    </div>
</div>
{% if tag %}
    </{{ tag }}>
{% else %}
</div>
{% endif %}
